@import './font.css';
@import './reset.css';
@import './common.css';



.top-banner{
    height: 40px;
}
.top-banner .swiper{
    height: 100%;
}
.top-banner .swiper-slide{
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-banner .swiper-slide span{
    color: #ee5728;
    font-weight: 700;
    margin-right: 5px;
}
.top-banner .swiper-slide .ico-go{
    display: inline-block;
    vertical-align: middle;
    width: calc(16px* 6 / 11);
    height: 16px;
    margin-left: 4px;
    background-image: url(../images/top-banner-ico.png);
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center right;
}


#header{
    position: fixed;
    top: 40px;
    right: 0;
    z-index: 10;
    width: 100%;
}
#header.fixed{
    top: 0;
    background: #fff;
}
#header.fixed .header-top{
    filter: invert(0);
}
#header.fixed .header-bottom{
    display: block;
}
#header.fixed .btn-shop .num{
    filter: none;
}


#header .header-top{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    height: 56px;
    filter: invert(1);
}
#header .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header .logo a{
    background-image: url(/assets/images/svg-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    display: block;
    width: 87px;
}
#header .util-area{
    display: flex; 
}
#header .util-area > *{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
#header .btn-shop{
    position: relative;
}
#header .btn-shop .num{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -2px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    filter: invert(1);
}
#header .header-bottom{
    display: none;
}
#header .nav-menu{
    position: relative;
    display: flex;
    align-items: center;
}
#header .nav-menu .all-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 11px 16px;
    line-height: 23px;
    color: #000;
    display: none;
}
#header .nav-menu.active .all-text{
    display: block;
}
#header .nav-menu::after{
    content: '';
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 1;
    width: 26px;
    height: 100%;
    pointer-events: none;
}

#header .nav-list{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 11px 0 11px 15px;
    width: calc(100% - 40px);
    overflow-x: auto;
    gap: 12px;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
#header .nav-list::-webkit-scrollbar {
    display: none;
}
#header .nav-menu.active .nav-list{
    visibility: hidden;
}
#header .nav-item a{
    display: block;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color: #000;
}
#header .btn-up{
    position: absolute;
    right: 5px;
    width: 28px;
    height: 28px;
    background: #f00;
    background: url(/assets/images/header-btn-up.png);
    background-repeat: no-repeat;
    background-position: center;
}
#header .nav-menu.active .btn-up{
    transform: rotate(180deg);   
}

#header .sub-menu{   
    display: none;
}
#header .sub-menu.on{
    display: block;
}
#header .sub-menu .sub-list{
    padding: 6px 12px;
    box-sizing: border-box;
    background: #F6F6F6;
    border-top: 1px solid #dcdcdc;
    display: flex;
    flex-wrap: wrap;
}
#header .sub-menu .sub-item{
    padding: 8px 17px;
    margin: 3px 3px;
    border: 1px solid #ebebeb;
    border-radius: 100px;
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}










.pop-menu{
    position: fixed;
    top: 0;
    width: 90%;
    height: 100%;
    background: #fff;
    z-index: 100;
    transition: 0.7s;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}
.pop-menu.on{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;   
}
.overlay.on{
    display: block;
}
body.no-scroll{
    overflow: hidden;
}


.pop-menu .group-login{
    margin: 32px 0 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid #ddd;
    padding: 0 16px;
}
.pop-menu .group-login .flex{
    display: flex;
    gap: 5px;
    align-items: center;
}
.pop-menu .group-login .flex .link-login{
    width: auto;
    height: auto;
    padding: 10px 26px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    font-weight: 700;
    border-radius: 4px;
    background: #0e0e0e;
}
.pop-menu .group-login .flex .link-register{
    background: #fff;
    border: 1px solid #ccc;
    color: #333 ;
    padding: 10px 26px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    border-radius: 4px;
}
.pop-menu .group-login p{
    color: #77797E;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
}
.pop-menu .group-login p em{
    font-weight: 700;
}
.pop-menu .group-nav{
    padding: 0 16px;
}
.pop-menu .group-nav .nav-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
}
.pop-menu .group-nav .nav-item{
    display: flex;
    flex-direction: column;

}
.pop-menu .group-nav .nav-item .link{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}
.pop-menu .group-nav .nav-item .link::after{
    width: 30px;
    height: 28px;
    content: '';
    display: block;
    background: url(/assets/images/btn-pop-nav-item.png);
}
.pop-menu .sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 0;
    display: none;
}
.pop-menu .sub.on{
    display: block;
    max-height: 500px;
}

.pop-menu .sub li a{
    display: block;
    color: #848484;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.5px;
    font-weight: 400;
    padding: 11px 0;
}




.pop-menu .group-event{
    padding: 0 16px;
}
.pop-menu .group-event .title{
    padding: 20px 0 16px;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #333;
    font-weight: 500;
}
.pop-menu .group-event .content img{
    width: 100%;
    height: 100%;
}
.pop-menu .group-event .content .text-area{
    display: flex;
    justify-content: space-between;
    margin: 12px 0 6px;
}
.pop-menu .group-event .content .text-area .desc{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #222;
}
.pop-menu .group-event .content .text-area .btn-all{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #777;
    margin-bottom: 20px;
}
.pop-menu .group-link{
    display: flex;
    margin-bottom: 30px;
    padding: 0 10px;
}
.pop-menu .group-link a{
    position: relative;
    text-align: center;
    width: 50%;
    background: #F2F2F2;
    padding: 14px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #777;
}
.pop-menu .group-link a:first-child::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 1px;
    height: 16px;
    background: #CCC;
}
.pop-menu .btn-close{
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    position: absolute;
    top: 35px;
    right: 20px;
    background: url(/assets/images/pop-nav-close.png);
}






.pop-search{
    display: none;
    background: url(/assets/images/pop-search.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.pop-search.on{
    display: block;
}
.pop-search .btn-close{
    position: absolute;
    width: 10px;
    height: 18px;
    left: 15px;
    top: 20px;
    background: url(/assets/images/pop-close.png) no-repeat center/100%;
}
.pop-search form{
    height: 45px;
    padding: 0 36px;
    background: none;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    width: 100%;
}
.pop-search form fieldset{
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    height: 100%;
}
.pop-search form .input{
    flex: 1;
    background: none;
    border: 0;
    font-size: 20px;
    outline: none;
    color: #fff;
}
.pop-search form .input::placeholder{
    color: #fff;
    font-weight: 400;
}
.pop-search .btn-search{
    width: 19px;
    height: 19px;
    background: url(../images/pop-btn-search.png) no-repeat center/100%;
    content: '';
}












#footer{
    padding: 30px 16px;
    color: #555;
}
#footer .group-top img{
    width: 82px;
    margin: 0 auto;
}
#footer .group-top .desc{
    margin-top: 24px;
    color: #555;
    line-height: 20px;
    font-size: 14px;

}

#footer .group-service{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
#footer .group-service .title{
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
}
#footer .group-service .tel{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}
#footer .group-service .time{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}


#footer .group-sns{
    display: flex;
    gap: 30px;
}
#footer .group-sns img{
    height: 22px;
}
#footer .group-link ul{
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
}
#footer .group-link a{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.7;
    color: #777;
    padding: 4px 0 ;
    font-weight: 700;
    letter-spacing: -0.5px;
    position: relative;
    margin: 0 5px; 
}
#footer .group-link li{
    display: flex;
    align-items: center;
}
#footer .group-link li+li::before{
    width: 1px;
    height: 10px;
    content: '';
    background: #ccc;
    margin: 0 4px;
}

#footer .address-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: #777;
}
#footer .address-area .copy{
    margin-top: 20px;
    font-weight: 700;
}
#footer .address-area .copy span{
    font-weight: 400;
}
#footer .address-area .img-wrap{
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 30px;
}
#footer .address-area span+span::before{
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 0 10px;
    content: "";
    display: inline-block;
}
#footer .committee{height: 34px;}
#footer .symantec{height: 38px;}
#footer .kg{height: 31px;}
